<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c %x %m%n" />
		</layout>
	</appender>
    <!-- By default, only log jena messages of type warning and up -->
    <logger name="org.apache.jena">
        <level value="warn"/>
    </logger>
    <logger name="com.hp.hpl.jena">
        <level value="warn"/>
    </logger>   
    <!-- This is the default (console) logger, you can specify another level if you want -->
	<root>
		<level value="debug" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>